streamlit
streamlit-option-menu
streamlit-extras
streamlit-aggrid

pandas
numpy

plotly
matplotlib
seaborn

scikit-learn
xgboost
lightgbm
shap

scipy

langchain
langchain-core
langchain-google-genai
langgraph

chromadb

google-generativeai

python-dotenv

reportlab

openpyxl

joblib

pydantic

tqdm
